<style>
  .flex-container{
    display: flex;
    align-items: center;
    padding: 5px 0;
    background: {% if section.settings.dark_mode %}black{% else %}#cfcfcf{% endif %};
    color: {% if section.settings.dark_mode %}white{% else %}black{% endif %};
  }
  .bar-item{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .bar-item-text{
    font-size: 1.25rem;
  }
  .align-left{
    justify-content: start;
  }
  .align-right{
    justify-content: end;
  }
  .align-center{
    justify-content: center;
  }
  .icon{
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .icon svg{
    width: 100%;
    height: 100%;
  }
</style>

<div class="flex-container align-{{ section.settings.top_bar_alignment }}">
  {% assign phone_numbers=section.blocks | where: "type", "phone-number" %}
  {% for phone_number in phone_numbers %}
    <div class='bar-item'>
      <span class="icon" >
        {{- 'icon-phone.svg' | inline_asset_content -}}
      </span>
      <span class="bar-item-text">{{ phone_number.settings.phoneNumber }}</span>
    </div>
  {% endfor %}
  {% assign account_block = section.blocks | where: "type", "customer-account" %}
  {% if account_block %}
    <div class="bar-item">
      {% if customer and customer.has_avatar? and account_block.settings.enable_avatar%}
        <span class="icon">
          {{ customer | avatar -}}  
        </span>
      {% else %}
        <span class="icon" >
          {{- 'icon-account.svg' | inline_asset_content -}}
        </span>
      {% endif %}
      <span style="margin-left: .5rem" class="bar-item-text">{% if customer %}{{  customer.name }}{% else %}my account{% endif %}</span>
    </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "topbar",
  "tag": "header",
  "max_blocks": 3,
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "top_bar_alignment",
      "label": "Topbar Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "checkbox",
      "id": "dark_mode",
      "default": true,
      "label": "Dark Topbar"
    }
  ],
  "blocks": [
    {
      "type": "phone-number",
      "name": "phone-number",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "phoneNumber",
          "default": "[800] 409-7669",
          "label": "Phone Number"
        }
      ]
    },
    {
      "type": "customer-account",
      "name": "customer-account",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_avatar",
          "default": true,
          "label": "Enable Customer Avatar"
        }
      ]
    }
  ],
  "presets": [
    {
    "name": "topbar",
    }
  ]
}
{% endschema %}